@model CoolApp.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
}

<section class="content">
    <div class="container">
        <div class="span3 offset4">
            @Html.Partial("~/Views/Shared/_LogOn.cshtml")
        </div>
    </div>
</section>
