@model CoolApp.Models.PayPal.Payment

@{
    Layout = null;
}
<html>
    <head>
        <script src="https://www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>
    </head>

    <body>
    <form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">
        <label for="buy">Buy Now:</label>
        <input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif">
        <input id="type" type="hidden" name="expType" value="light">
        <input id="paykey" type="hidden" name="paykey" value="@Model.PayKey">
        <input id="preapprovalKey" type="hidden" name="preapprovalKey" value="PA-2W996020F0183812X"/>
    </form>

    <script type="text/javascript" charset="utf-8">
        var embeddedPPFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' });
    </script>
    </body>

</html>