@model dynamic

@{
    Layout = null;
}

<html>
    <head>
        <title>Select APP</title>
    </head>
    <body>
        <div>
            @Html.ActionLink("CoolChat","Index","Chat") 
            @Html.ActionLink("CoolPayPal","Index","PayPal") 
        </div>
    </body>
</html>