@model CoolChat.Models.AccountModel

<script type="text/javascript" src="~/Scripts/libs/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/libs/json2.min.js"></script>

@using(Html.BeginForm("Login","Home", FormMethod.Post))
{
    <h2>CoolChat</h2>
    <div>
        @Html.DropDownListFor(c => c.AccountName, new List<SelectListItem> { new SelectListItem {Selected = false, Text = "maor", Value = "maor"}, new SelectListItem {Selected = false, Text = "janedoe", Value = "janedoe"}, new SelectListItem {Selected = false, Text = "babydoe", Value = "babydoe"}})
        <input type="submit"  value="Login" />
    </div>
}
