    <div class="container-fluid">
        <div class="row-fluid mb-10">
            <div class="span9">
                <nav class="nav-footer">
                   
                </nav>
            </div>

            <div class="span3">
                <form class="pull-right search span12">
                    <button type="submit" class="span3 btn pull-right">BUSCAR</button>
                    <input class="span9 pull-right" type="text" placeholder="Pesquisar no site">
                </form>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span5">
               
            </div>

            <div class="span5">
                
            </div>

            <div class="span2">
                <a href="http://e-momentum.com.br" class="logo-momentum-footer pull-right">momentum</a>
            </div>
        </div>
    </div>